<div class="mainHeaderContainer">

  <div>
    <span style="color: #f5eadc;text-transform: uppercase;font-size: 0.78rem;letter-spacing: 0.18em;">{{ headerTitle }}</span>
  </div>

  <div class="topHeader">
    <div class="headerSwitchContainer">
      <button type="button" class="headerWaiterButton" (click)="onWaiterClick()">
        <img alt="sunbed" [src]="sunbedIcon" class="headerWaiterButton__icon">
        <span>{{ callWaiterLabel }}</span>
      </button>
      <button type="button" class="headerWaiterButton headerWaiterButton--ask" (click)="onAskWaiterClick()">
        <span class="headerWaiterButton__mark">?</span>
        <span>{{ askWaiterLabel }}</span>
      </button>
    </div>

    <div class="headerLanguageCont" (click)="onLanguageToggle()">
      <img alt="language" [src]="langIcon" class="headerLanguageIcon">
      <img alt="language flag" [src]="isEl ? elFlag : enFlag" class="headerFlag">
    </div>
  </div>

  <div
    class="headerLevTwo"
    (pointerdown)="onCategoryStripInteraction()"
    (pointermove)="onCategoryStripInteraction()"
    (touchstart)="onCategoryStripInteraction()"
    (touchmove)="onCategoryStripInteraction()"
    (wheel)="onCategoryStripInteraction()"
  >
    <div *ngFor="let category of menu?.categories; index as i" class="headerCategory">
      <div class="categoryHeaderContainer" [class.selected]="selected === i" (click)="onCategoryClick(i)">
        {{ category.title }}
      </div>
    </div>
  </div>
</div>
