<div class="mainHeaderContainer">
  <div class="topHeader">
    <div class="headerSwitchContainer">
      <button type="button" class="headerWaiterButton" (click)="onWaiterClick()">
        <img alt="sunbed" [src]="sunbedIcon" class="headerWaiterButton__icon">
        <span>{{ callWaiterLabel }}</span>
      </button>
      <label
        class="switch-toggle"
        (touchstart)="onToggleTouchStart($event)"
        (touchend)="onToggleTouchEnd($event)"
      >
        <input
          class="switch-toggle__input"
          type="checkbox"
          [checked]="menu?.isRest"
          (change)="onMenuToggle($event)"
        >
        <span class="switch-toggle__slider"></span>
      </label>
    </div>

    <img alt="logo" class="imageL" [src]="logo">

    <div class="headerLanguageCont" (click)="onLanguageToggle()">
      <img alt="language" [src]="langIcon" class="headerLanguageIcon">
      <img alt="language flag" [src]="isEl ? elFlag : enFlag" class="headerFlag">
    </div>
  </div>

  <div class="headerLevTwo">
    <div *ngFor="let category of menu?.categories; index as i" class="headerCategory">
      <div
        class="categoryHeaderContainer"
        [class.selected]="selected === i"
        (click)="onCategoryClick(i)"
      >
        {{ category.title }}
      </div>
    </div>
  </div>
</div>
