*{
    
    padding: 0;
    margin: 0;
    font-family:myFirstFont;
    
  
}
@font-face {
    font-family: myFirstFont;
    src: url("./../src/fonts/mono.ttf");
}
*::-webkit-scrollbar {
    display: none;
}
#root{
    overflow: hidden;
}