.modalContainer{
    position: absolute;
    top: 50vh;
    left: 50vw;
    padding: 20px;
    transform: translate(-50%,-50%);
    width: 70vw;
    height:70vw;
    border-radius: 30px;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:1px solid #7FA3FF;

    box-shadow: 1px -1px 21px 14px rgba(96,156,212,0.51);
-webkit-box-shadow: 1px -1px 21px 14px rgba(96,156,212,0.51);
-moz-box-shadow: 1px -1px 21px 14px rgba(96,156,212,0.51);
}
.buttonModal{
    color: black;
    background-color:transparent; 
    
    padding:2px ;
    width:60%;
    font-size:20px;
    border-radius:3px;
    border:2px solid #7FA3FF;
    font-family: titleFont; 
}

.Main{
    overflow: hidden;
    position: relative;
}
.logo{
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    height: 20vh;
    width: auto;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 50%;
    padding: 5px;
    
}
@font-face {
    font-family: titleFont;
    src: url("./../../fonts/r.ttf");
}
#gg{
    font-family: titleFont; 
}
.header{
    height: auto;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    top: -50vh;
    left: 50vw;
    transform: translateX(-50vw);
    z-index: 0;
    
    animation-name: head;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.headOut{
    animation-name: headO !important;
}
@keyframes head{
    0%{
        top:-30vh
    }
    100%{
        top: 0;
    }
}
@keyframes headO{
    0%{
        top:0;
    }
    100%{
        top: -50vh;
    }
}
.bgim{
    height: auto;
    width: 100%;
}
.logoImg{
    position: absolute;
    top:50%;
    left: -10vw;
    transform: translateY(-50%);
    height: auto;
    width: 100%;
}
.outerContainer{
    overflow: scroll;
    position: relative;
    height: 100vh;
    top: 100vh;
    width: 100vw;
    min-height: 100vh;
    animation-name: contAn;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
   
}
.contOut{
    animation-name: contAnR !important;
}

@keyframes contAn{
    0%{
        top:100vh
    }
    100%{
        top:0;
    }
}
@keyframes contAnR{
    0%{
        top:0
    }
    100%{
        top:100vh;
    }
}
.headerLevOne{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: white;
    padding: 5px;
    animation-name: levelOneHeaderAnimation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

}
@keyframes levelOneHeaderAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.logoInHeader{
    width: auto;
    height: 100%;
}
.menu{   
    overflow: scroll ;
    padding-top: 10vw;
    position: relative;
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(50vw);
    z-index: 3; 
    border-radius: 10px;
    padding-bottom: 200px;
}
.downArrow{
    height: 20px;
    width: auto;
    animation-name: flash;
    border-radius: 50%;
    padding: 10px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
@keyframes flash{
    0%{
        opacity: 0.8;
        scale: 0.8;
        background-color: rgb(127, 206, 255);
    }
    50%{
        opacity: 0.03;
        scale: 1.3;
    }
    100%{
        opacity: 0.8;
        scale: 0.8;
    }
}

