[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = GR
ST = Sporades
L = Skopelos
O = Glysteri Beach Bar
OU = Local Menu
CN = 10.10.11.15

[v3_req]
subjectAltName = @alt_names
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
basicConstraints = critical, CA:FALSE

[alt_names]
IP.1 = 10.10.11.15
DNS.1 = localhost
IP.2 = 127.0.0.1
