.mainCont{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* if no video removethe following  */
    /* display: flex; */
    
    justify-content: center;
}
.bgImgae{
    
    /* position: absolute;
    top: 0;
    left: 0; */
    /* transform: rotateZ(90deg) translate(-10vw,50%); */
    overflow: hidden;
    /* z-index: 10; */
    height: 100vh;
}

.video{
    width: auto;
    height: 100vh;
    z-index: 0;
}


.logo{
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    height: 20vh;
    width: auto;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 50%;
    padding: 5px;
    /* box-shadow: -1px 0px 57px 8px rgba(240,152,28,0.25);
-webkit-box-shadow: -1px 0px 57px 8px rgba(240,152,28,0.25);
-moz-box-shadow: -1px 0px 57px 8px rgba(240,152,28,0.25); */
}
.bgTrans{
    
    position: absolute;
    width: 150vw;
    height: 100vh;
    top: 0vh;
    left: 100vw;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-fill-mode: forwards !important;
    z-index: 20;
    
    
}
.fadeInBg{
   
    animation-name: bgMoveIn;
}
.fadeOutBg{
   
    animation-name: bgMoveOut;
   
}

@keyframes bgMoveIn {
    0%{   
        left:100vw;
    }
    100%{
        left: 0vw;
    }
}
@keyframes bgMoveOut {
    0%{
        
        left:0vw;
    }
    
    100%{
        
        left: 100vw;
    }
}
.pickLangCont{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 40vw;
    z-index: 10;
}
.heading{
    position: absolute;
    top: 0;
    overflow: hidden;
    color: black;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bolder;

}
.flagsCont{
    overflow: hidden;
    display: flex;
    background: white;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    width: 50%;
    height: 80%;
    bottom: 0;
}
.contSelect{
    background: white;
    width: 70vw;
    border: 1px solid black !important;
    border-radius: 20px;
} 
.css-llrb4p-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root{
    border: none !important;
    background-color: none !important;
    
}
.flagImg{
    overflow: hidden;
    width: 20vw;
    height: auto;
    object-fit: contain;
    position: absolute;
    z-index: 100;
    
}
.pEl{
    left: 20vw;
}
.pEn{
    right: 20vw;
}
.el{
   
    animation-name: anEl;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.en{
    
    animation-name: anEn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes anEl{
    
    100%{
        
        left: -100vw;
    
    }
}
@keyframes anEn{
    
    100%{
        
        right: -100vw;
    
    }
}


