<div class="productCont" [class.last]="isLast">
  <div class="productMain">
    <div class="productInfo">
      <div class="productTop">
        <span class="productTitle">{{ product?.title }}</span>
      </div>
      <span *ngIf="product?.desc !== ''" class="productDesc">{{ product?.desc }}</span>
    </div>

    <div class="productAside">
      <div *ngIf="product?.photo || product?.isVideo" class="productPhotoCont">
        <img
          *ngIf="product?.photo && product?.isVideo !== true"
          alt=""
          loading="lazy"
          class="productPhoto"
          [src]="product?.photo"
        >
        <video
          *ngIf="product?.isVideo"
          playsinline
          muted
          autoplay
          loop
          class="productPhoto"
          [src]="product?.photo"
        ></video>
      </div>
    </div>
  </div>

  <span class="productPrice">{{ product?.price }}</span>
</div>
