<div class="Main">
  <button type="button" (click)="toggleInfo()" class="infoButton">
    <img alt="info" style="filter: invert(1);" [src]="infoIcon" class="infoButton__icon">
  </button>

  <div *ngIf="show" class="modalBackdrop">
    <div class="modalContainer">
      <div class="modalEyebrow">Glisteri</div>
      <h2 class="modalTitle">{{ discoverCopy }}</h2>
      <p class="modalText">{{ experienceCopy }}</p>

      <div class="modalLanguage">
        <button type="button" class="langButton" [class.active]="!isEl" (click)="switchLang(true)">
          <img alt="greek" [src]="elFlag">
          <span>EN</span>
        </button>
        <div class="langDivider">
          <img alt="language" [src]="langIcon">
        </div>
        <button type="button" class="langButton" [class.active]="isEl" (click)="switchLang(false)">
          <img alt="english" [src]="enFlag">
          <span>GR</span>
        </button>
      </div>

      <div class="modalActions">
        <button type="button" class="buttonModal primary" (click)="changed(true); show = false">
          <img alt="menu" [src]="menuIcon">
          <span>{{ restaurantLabel }}</span>
        </button>

        <button type="button" class="buttonModal" (click)="changed(false); show = false">
          <img alt="menu" [src]="menuIcon">
          <span>{{ beachLabel }}</span>
        </button>
      </div>

      <button type="button" class="buttonModal buttonModal--ghost" (click)="show = false">
        {{ closeLabel }}
      </button>
    </div>
  </div>

  <div
    *ngIf="infoShow || infoAnimatingOut"
    id="info"
    class="infoCont"
    [class.moveIn]="infoShow && !infoAnimatingOut"
    [class.moveOut]="infoAnimatingOut"
    [class.dragging]="infoDragging"
    [style.transform]="infoDragOffset ? 'translateY(' + infoDragOffset + 'px)' : null"
    (touchstart)="onInfoTouchStart($event)"
    (touchmove)="onInfoTouchMove($event)"
    (touchend)="onInfoTouchEnd()"
    (touchcancel)="onInfoTouchEnd()"
  >
    <div class="infoSheet__handle"></div>
    <button type="button" (click)="closeInfo()" class="closeButton">
      <img alt="close" [src]="closeIcon" class="closeIcon">
    </button>

    <div class="infoSheet__hero">
      <div>
        <div class="infoSheet__eyebrow">Concierge</div>
        <h3>Glysteri Beach Bar</h3>
        <p>{{ experienceCopy }}</p>
      </div>
      <div class="infoSheet__art">
        <img alt="reserve" [src]="reserveIcon" class="reserve_icon">
        <img alt="sunbeds" [src]="sunbedIcon" class="sun_icon">
      </div>
    </div>

    <a class="infoCard infoCard--phone" href="tel:+306937604194">
      <span class="infoCard__label">{{ isEl ? 'Κρατήσεις' : 'Reservations' }}</span>
      <strong>+30 693 760 4194</strong>
    </a>

    <div class="taxi_cont">
      <img alt="taxi" [src]="taxiIcon" class="taxi_icon">
      <div>
        <span class="infoCard__label">Taxi</span>
        <a href="tel:+306972429568">+30 697 242 9568</a>
      </div>
    </div>

    <div class="social_cont">
      <a target="_blank" rel="noreferrer" href="https://web.facebook.com/glysteriskopelos">
        <img alt="facebook" [src]="fbIcon" class="social_icon">
      </a>
      <a target="_blank" rel="noreferrer" href="https://www.instagram.com/glysteribeachbar/">
        <img alt="instagram" [src]="instaIcon" class="social_icon">
      </a>
      <a target="_blank" rel="noreferrer" href="https://goo.gl/maps/EJ2KNv4JvEXsi8128">
        <img alt="maps" [src]="googleIcon" class="social_icon">
      </a>
    </div>
  </div>

  <div class="header">
    <div class="heroContent">
      <div class="heroBadge">{{ currentMenuLabel }}</div>
      <img alt="logo" [src]="logo" class="logoImg">
      <p class="heroTagline">{{ experienceCopy }}</p>
    </div>
  </div>

  <div *ngIf="levelOne" class="headerLevOne">
    <div class="headerLevOne__inner">
      <img alt="logo" [src]="logo" class="logoInHeader">
      <span>{{ currentMenuLabel }}</span>
    </div>
  </div>

  <app-header
    *ngIf="levelTwo"
    [menu]="menu"
    [selected]="selectedCategory"
    [isEl]="isEl"
    (categoryClick)="clicked($event)"
    (languageToggle)="switchLang($event)"
    (menuToggle)="changed($event)"
  ></app-header>

  <div #outerContainer (scroll)="onScroll($event)" class="outerContainer">
    <div class="menu">
      <section class="introCard">
        <div class="introCard__top">
          <div class="introCard__copy">
            <span class="introCard__eyebrow">Curated for mobile</span>
            <h1>{{ currentMenuLabel }}</h1>
            <p>{{ experienceCopy }}</p>
          </div>
          <button type="button" class="langBadge" (click)="switchLang(isEl)">
            <img alt="language flag" [src]="isEl ? elFlag : enFlag">
          </button>
        </div>

        <div class="introCard__controls">
          <div class="modeCard">
            <span class="modeCard__label">{{ isEl ? 'Κατάλογος' : 'Catalog' }}</span>
            <strong>{{ currentMenuLabel }}</strong>
          </div>

          <div class="toggleWrap">
            <span>{{ beachLabel }}</span>
            <label class="switch-toggle">
              <input
                class="switch-toggle__input"
                type="checkbox"
                [checked]="menu.isRest"
                (change)="changed($any($event.target).checked)"
              >
              <span class="switch-toggle__slider"></span>
            </label>
            <span>{{ restaurantLabel }}</span>
          </div>
        </div>
      </section>

      <section class="menuShell">
        <div class="menuShell__heading">
          <span class="menuShell__eyebrow">Selection</span>
          <h2>{{ isEl ? 'Κατηγορίες' : 'Categories' }}</h2>
        </div>

        <app-category
          *ngFor="let category of menu.categories; index as i"
          [category]="category"
          [addMargin]="i === 0 && levelTwo"
        ></app-category>
      </section>
    </div>
  </div>
</div>
